* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outerLoader {
    overflow: hidden;
    height: 100dvh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999;
}

.loader {
    height: 100dvh;
    width: 100%;
    background-color: #D8001A;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
}

.loader img {
    position: absolute;
}

.navbar {
    padding: 0px 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 100px;
    width: 100px;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D8001A;
    gap: 20px;
    list-style-type: none;
    font-size: 20px;
    width: 50vw;
    padding: 10px 0px;
    border-radius: 20px 20px 40px 40px;
    color: #ddd;
}

/*main container*/
.container {
    min-height: 80vh;
    width: 100%;
    height: 84vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* saleSide */
.saleSide {
    transform: translate(0px);
    min-width: 300px;
    display: flex;
    width: 20%;
    height: 100%;
    align-items: start;
    justify-content: space-around;
    flex-direction: column;
}

.saleDiv {
    height: 40%;
    width: 100%;
    padding: 0px 20px;
}

.heading h1 {
    font-size: 50px;
    font-weight: 300;
}

.heading h2 {
    font-size: 30px;
    font-weight: 200;
    padding-left: 10px;
}

.saleDiv button {
    height: 50px;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    margin: 20px 0px;
}

.saleDiv ul li {
    list-style: none;
    height: 30px;
    width: 60%;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-weight: 600;
    margin-left: 10px;
}

.saleDiv ul li:nth-child(1) {
    border-bottom: 2px dotted #D8001A;
}

.bottom-side-bar {
    height: 260px;
    margin: 0px auto;
    width: 220px;
    background: url("./img/subtract1.png") 100% / 100% no-repeat;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
}

.arrow-right-btn {
    height: 40px;
    position: absolute;
    width: 120px;
    border: none;
    right: 10%;
    top: 10px;
    justify-self: end;
    border-radius: 60px 30px 20px 10px;
    background-color: #ff6666;
    object-fit: cover;
}

.saleSide .sale-banner {
    height: 100px;
    width: 70%;
    background: #ff6666;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    border-radius: 20px;
    font-weight: 300;
    transform: rotateZ(-20deg) translateY(10px);
}

/* displaySide */
.displaySide {
    min-width: 300px;
    width: 60%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform: translateY(0px) scale(1);
}

.boy-banner {
    z-index: 310;
    position: absolute;
    left: 10%;
    height: 100%;
    width: 100%;
    margin: 0px auto;
}

.boy-banner img:nth-child(1),
.boy-banner img:nth-child(3) {
    position: absolute;
    height: 80%;
    left: 0px;
    top: 10%;
}

.boy-pic {
    position: absolute;
    height: 150%;
    width: fit-content;
    left: 15%;
    top: -10%;
    bottom: 20px;
}

.boy-pic::after {
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    content: "";
    background: #D8001A;
}

.displaySide .bottom-banner {
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 200px;
    z-index: 300;
    background: url("./img/pic-bannar-bottom.png") no-repeat;
    object-fit: cover;
    background-size: cover;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.bottom-banner .banner-icons {
    height: 100%;
    width: 60px;
    background: #ff6666;
    border-radius: 20px;
}

.bottom-banner .banner-icons ul {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
    color: #ffffff;
}

/* tageListSide */
.tageListSide {
    min-width: 300px;
    width: 20%;
    height: 100%;
    transform: translate(0px);
}

.border-flex {
    padding: 20px;
    border: 2px solid black;
    width: 90%;
    border-radius: 20px;
    height: 60%;
    margin: 20px auto;
}

.border-flex h1 {
    font-weight: 200;
    padding-left: 10px;
}

.border-flex img {
    width: 100%;
}

.tag-box {
    height: 30%;
    width: 90%;
    margin: 0px auto;
    margin-bottom: 30px;
    background-color: #FF2E2E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 20px;
    padding: 10px;
}

.tag-box input {
    height: 30px;
    width: 80%;
    margin: 0px auto;
    background-color: #ff6666;
    border: 1px solid #ffffff;
    border-radius: 10px;
    text-align: center;
    color: #ffffff;
}

.tag-box input::placeholder {
    color: #ffffff;
}

.tag-box input:focus {
    outline: none;
}

.tag-box h1 {
    background: url("./img/svg/Union.svg") 60%/80% no-repeat;
    height: 50px;
    width: 80px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: self-start;
    margin-left: 10px;
    color: #ffffff;
}

.tag-collections {
    height: 60%;
    width: 80%;
    color: #ffffff;
    border-radius: 5px;
}

.tag-collections ul {
    overflow: auto;
    height: 100%;
    width: 100%;
    list-style: none;
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    scrollbar-color: black transparent;
}

.tag-collections ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 7px;
    background-color: #ff6666;
    border-radius: 8px;
    margin: 2px;
    font-size: 10px;
    font-family: sans-serif;
}

@keyframes moveUpCenter {
    from {
        transform: translateY(300px) scale(0.6);
        opacity: 0;
    }
}

@keyframes moveLeft {
    from {
        transform: translate(200px);
        opacity: 0;
    }
}

@keyframes moveUp {
    from {
        opacity: 0;
        transform: translate(-100px);
    }
}

@keyframes loader {
    to {
        transform: translateY(100%);
    }
}
@keyframes moveDownNavbar {
    from{
        transform: translateY(-20vh);
        opacity: 0;
    }
}